<h1 class="text-center">Appointments Dashboard</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Symptoms</th>
            <th>Number</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.age }}</td>
            <td>{{ appointment.symtomps }}</td>
            <td>{{ appointment.number }}</td>
            <td><button class="btn btn-danger" (click)="delete(appointment.id)">Delete</button></td>
        </tr>
    </tbody>
</table>