<h1 class="text-center">Admin Dashboard</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Blood</th>
            <th>Prescription</th>
            <th>Dose</th>
            <th>Urgency</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{ patient.id }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.blood }}</td>
            <td>{{ patient.prescription }}</td>
            <td>{{ patient.dose }}</td>
            <td>{{ patient.urgency }}</td>
            <td><button class="btn btn-danger" (click)="delete(patient.id)">Delete</button></td>
        </tr>
    </tbody>
</table>